@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #000;
  --bg: #fff;
}

body {
  color: var(--text);
  background: var(--bg);
  position: relative;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
